body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 background: #f8f6f6;
}


/* Set a style for the submit/register button */
.loginbtn {

 background-color: #04AA6D;
 color: white;
 padding: 16px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
 opacity: 0.9;
}

.loginbtn:hover {
 opacity: 1;
}

/* Add a blue text color to links */
a {
 color: dodgerblue;
}